  html {
    font-size: 16px;
  }
    
    body {
    background-image: url("background101.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    
    }

    .logo {
      font-weight: bold;
      font-family: cursive;
      color: silver;
      float: left;
      margin-left: 1.5em;
    }

    .topnav .logo a:hover {
    background-color: #333;
    color: whitesmoke;


    }
    

    .footer {
     text-align: center;
    }

    .intro {
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    padding-top: 1.5cm;
    padding-bottom: 1.5em;
    line-height: .60cm;
    }  

    .topnav {
        background-color: #333333;
        overflow: hidden;  
        margin-bottom: 3em;      
    }

    .topnav a  {
        float: right;
        align-items: right;
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 0.875em 1em;
        text-decoration: none;
        font-size: 1.0625em;
        
    }

    .topnav a:hover {
        background-color: #dddddd;
        color:black;
    }

     .topnav a.active {
        background-color: #4caf50;
        color: white;
    }
       .background {
         text-align: center;
         padding-left: 3.25rem;
         padding-right: 3.25rem;
         padding-top: 0cm;
         padding-bottom: 1.75em;
         font-size: 1.125em;
         border: 1px solid silver;
         border-radius: 1.0625em;
         margin-left: 5em;
         margin-right: 5em;
         margin-top:;
         background-color: whitesmoke;
         line-height: 1cm;
         }

         .background1 {
            text-align: left;
            padding-left: 3cm;
            padding-right: 3cm;
            padding-top: 0cm;
            padding-bottom: 1.75em;
            font-size: 1.125em;
            border: 1px solid silver;
            border-radius: 1.0625em;
            margin-left: 5em;
            margin-right: 5em;
            background-color: whitesmoke;
            line-height: 1cm;
            }

            #title1 {
              text-align: center;
            }

            .background2 {
                text-align: center;
                padding-left: 3.25em;
                padding-right: 3.25em;
                padding-top: .25em;
                padding-bottom: 1.75em;
                font-size: 18px;
                border: 1px solid silver;
                border-radius: 1.0625em;
                margin-left: 5em;
                margin-right: 5em;
                background-color: whitesmoke;
                line-height: 1cm;
                }


       .background h6 {
         opacity: .6;
      }
      .background2 h6 {
          opacity: .6;
      }

      .back {
        background-color:#333333;
        overflow: hidden;
     }

     a {
        text-decoration: none;
        display: inline-block;
        padding: .5em 1em;
      }
    
      a:hover {
        background-color: #333333;
        color: black;
       }
    
      .previous {
        background-color: #333333;
        color: white;
      }
    
      .next {
        background-color: rgb(48, 54, 48);
        color: white;
      }

      .list {
        text-align: left;
      }

      .list1 {
        font-size: 1.20em;
      }

      .archives{
        text-align: center;
       }

      
       .h3 {
         text-align: center;
         font-weight: bold;
       }
        
       /*--------------------------------------------------------------------------------------------------------------
                                                    Media Queries
       ----------------------------------------------------------------------------------------------------------------*/
       
img {
    max-width: 80%;
}

.container Iframe {
  width: 65%;
  height: 100%
  align-items: center;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) and (max-width: 1280px) {


 }

@media all and (min-width: 768px) and (max-width: 1024px) {

 }

@media all and (min-width: 480px) and (max-width: 768px) {

 }

@media all and (max-width: 480px) {

 }


/* Portrait */
@media screen and (orientation:portrait) { 

 }
/* Landscape */
@media screen and (orientation:landscape) { 

 }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {

}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .background .background1 .background2 {
    width: 100%;
  }
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {

}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {

}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {

}
