    body {
    background-image: url("background101.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    
    }

    .logo {
      font-weight: bold;
      font-family: cursive;
      color: silver;
      float: left;
      margin-left: 1.5rem;
    }

    .topnav .logo a:hover {
    background-color: #333;
    color: whitesmoke;


    }
    

    .footer {
     text-align: center;
    }

    .intro {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 1.5cm;
    padding-bottom: 5rem;
    line-height: .60cm;
    }  

    .topnav {
        background-color: #333333;
        overflow: hidden;  
        margin-bottom: 15rem;      
    }

    .topnav a  {
        float: right;
        align-items: right;
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
    }

    .topnav a:hover {
        background-color: #dddddd;
        color:black;
    }

     .topnav a.active {
        background-color: #4caf50;
        color: white;
    }
       .background {
         text-align: center;
         padding-left: 3.25rem;
         padding-right: 3.25rem;
         padding-top: 0cm;
         padding-bottom: 1.75cm;
         font-size: 18px;
         border: 1px solid silver;
         border-radius: 17px;
         margin-left: 5cm;
         margin-right: 5cm;
         margin-top:;
         background-color: whitesmoke;
         line-height: 1cm;
         }

         .background1 {
            text-align: left;
            padding-left: 3cm;
            padding-right: 3cm;
            padding-top: 0cm;
            padding-bottom: 1.75cm;
            font-size: 18px;
            border: 1px solid silver;
            border-radius: 17px;
            margin-left: 5cm;
            margin-right: 5cm;
            background-color: whitesmoke;
            line-height: 1cm;
            }

            #title1 {
              text-align: center;
            }

            .background2 {
                text-align: center;
                padding-left: 3.25rem;
                padding-right: 3.25rem;
                padding-top: .25rem;
                padding-bottom: 1.75cm;
                font-size: 18px;
                border: 1px solid silver;
                border-radius: 17px;
                margin-left: 5cm;
                margin-right: 5cm;
                background-color: whitesmoke;
                line-height: 1cm;
                }


       .background h6 {
         opacity: .6;
      }
      .background2 h6 {
          opacity: .6;
      }

      .back {
        background-color:#333333;
        overflow: hidden;
     }

     a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
      }
    
      a:hover {
        background-color: #333333;
        color: black;
       }
    
      .previous {
        background-color: #333333;
        color: white;
      }
    
      .next {
        background-color: rgb(48, 54, 48);
        color: white;
      }

      .list {
        text-align: left;
      }

      .list1 {
        font-size: 1.20rem;
      }

      .archives{
        text-align: center;
       }

      
       .h3 {
         text-align: center;
         font-weight: bold;
       }
        
       /*--------------------------------------------------------------------------------------------------------------
                                                    Media Queries
       ----------------------------------------------------------------------------------------------------------------*/
       
img {
    max-width: 80%;
}

.container Iframe {
  width: 100%;
  align-items: center;
}

/* Laptops and Desktops */
@media (min-width : 1025px) and (max-width : 1280px) {
  /* The following css will be rendered if device width is less than 1280px */
   
  }
   
  /* Tablets (Landscape) */
  @media (min-width : 769px) and (max-width : 1024px) {
  /* The following css will be rendered if device width is less than 1024px */
   
  body {
     position: relative;
    aling:center;
    margin: 0 0px 0 -25% !important;
    width: auto;
    text-align: left;
    padding-right: 0px;
   
  }
   
  .post-body {
  position: relative;
    margin: 0 0px 0 0px !important;
    width: 75%;
    text-align: left;
    padding-left: 0px;
   
    display: -webkit-flex; /* Safari */
     -webkit-align-items: center; /* Safari 7.0+ */
     display: flex;
  }
   
  }
   
  /* Tablets (Portrait) */
  @media (min-width : 641px) and (max-width : 768px) {
  /* The following css will be rendered if device width is less than 768px */
  body {
     position: relative;
    aling:center;
    margin: 0 0px 0 -35% !important;
    width: auto;
    text-align: left;
    padding-left: 0px;
   
  }
   
  .post-body {
  position: relative;
    margin: 0 0px 0 25px !important;
    width: 60%;
    text-align: left;
    padding-left: 0px;
   
  }
  }
   
  /* iPhones */
  @media (min-width : 481px) and (max-width : 640px) {
  /* The following css will be rendered if device width is less than 640xpx */
  body {
     position: relative;
    aling:center;
    margin: 0 0px 0 -300px !important;
    width: auto;
    text-align: left;
    padding-left: 0px;
   
  }
   
  .post-body {
  position: relative;
    margin: 0 200px 0 0px !important;
    width: 55%;
    text-align: left;
    padding-left: 0px;
   
  }
  }
   
  /* Mobiles */
  @media only screen and (max-width : 480px) {
  /* The following css will be rendered if device width is less than 480px */
   
  }
   
  /* Small Mobiles */
  @media only screen and (max-width : 320px) {
  /* The following css will be rendered if device width is less than 320px */
   
  }
   
  /**************************************************************************/
  /*****************************END RESPONSIVE*******************************/
  /**************************************************************************/