    body {
    background-image: url("background101.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    text-align: center;
    
    }

    .logo {
      font-weight: bold;
      font-family: cursive;
      color: silver;
      float: left;
      margin-left: 1.5rem;
    }

    .topnav .logo a:hover {
    background-color: #333;
    color: whitesmoke;


    }
    

    .footer {
     text-align: center;
    }

    .intro {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-top: 1.5cm;
    padding-bottom: 5rem;
    line-height: .60cm;
    }  

    .topnav {
        background-color: #333333;
        overflow: hidden;  
        margin-bottom: 15rem;      
    }

    .topnav a  {
        float: right;
        align-items: right;
        display: block;
        color: whitesmoke;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
    }

    .topnav a:hover {
        background-color: #dddddd;
        color:black;
    }

     .topnav a.active {
        background-color: #4caf50;
        color: white;
    }
       .background {
         text-align: center;
         padding-left: 3.25rem;
         padding-right: 3.25rem;
         padding-top: 0cm;
         padding-bottom: 1.75cm;
         font-size: 18px;
         border: 1px solid silver;
         border-radius: 17px;
         margin-left: 5cm;
         margin-right: 5cm;
         margin-top:;
         background-color: whitesmoke;
         line-height: 1cm;
         }

         .background1 {
            text-align: left;
            padding-left: 3cm;
            padding-right: 3cm;
            padding-top: 0cm;
            padding-bottom: 1.75cm;
            font-size: 18px;
            border: 1px solid silver;
            border-radius: 17px;
            margin-left: 5cm;
            margin-right: 5cm;
            background-color: whitesmoke;
            line-height: 1cm;
            }

            #title1 {
              text-align: center;
            }

            .background2 {
                text-align: center;
                padding-left: 3.25rem;
                padding-right: 3.25rem;
                padding-top: .25rem;
                padding-bottom: 1.75cm;
                font-size: 18px;
                border: 1px solid silver;
                border-radius: 17px;
                margin-left: 5cm;
                margin-right: 5cm;
                background-color: whitesmoke;
                line-height: 1cm;
                }


       .background h6 {
         opacity: .6;
      }
      .background2 h6 {
          opacity: .6;
      }

      .back {
        background-color:#333333;
        overflow: hidden;
     }

     a {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
      }
    
      a:hover {
        background-color: #333333;
        color: black;
       }
    
      .previous {
        background-color: #333333;
        color: white;
      }
    
      .next {
        background-color: rgb(48, 54, 48);
        color: white;
      }

      .list {
        text-align: left;
      }

      .list1 {
        font-size: 1.20rem;
      }

      .archives{
        text-align: center;
       }

      
       .h3 {
         text-align: center;
         font-weight: bold;
       }
        
       /*--------------------------------------------------------------------------------------------------------------
                                                    Media Queries
       ----------------------------------------------------------------------------------------------------------------*/
       
img {
    max-width: 80%;
}

.container Iframe {
  width: 100%;
  align-items: center;
}

#menu-icon {
  
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4C8FEC url(../img/menu-icon.png) center;
}  

a:hover#menu-icon {
  
    background-color: #444;
    border-radius: 4px 4px 0 0;
  
  }
  
  ul {
  
    list-style: none;
  
  }
  
  li {
  
    display: inline-block;
    float: left;
    padding: 10px
  
  }
  .current {
    
      color: #2262AD;
    
    }



    @media only screen and (max-width : 640px) {
      
        header {
      
          position: absolute;
      
        }
      
        #menu-icon {
      
          display:inline-block;
      
        }
      
        nav ul, nav:active ul { 
      
          display: none;
          position: absolute;
          padding: 20px;
          background: #fff;
          border: 5px solid #444;
          right: 20px;
          top: 60px;
          width: 50%;
          border-radius: 4px 0 4px 4px;
      
        }
      
        nav li {
      
          text-align: center;
          width: 100%;
          padding: 10px 0;
          margin: 0;
      
        }
      
        nav:hover ul {
      
          display: block;
      
        }